/*Reestablecimiento de valores de toda la pagina a predeterminados*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 204, 219, 220;
  }

.registro{
  display: none;
}

  .main{
    display: none;
  }

  